.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(20, 19, 19, 0.847);
    /* Задаємо позицію, розміри та стилі для елемента з класом "modal" */
}

.modal-wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    flex-direction: column;
    align-items: center;
    /* Задаємо властивості позиціонування, вирівнювання та напряму для елемента з класом "modal-wrapper" */
}

.modal-content {
    background-color: #fefefe60;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    color: #fefefe;
    border: 1px solid #888;
    width: 90%;
    margin: auto;
    /* Задаємо стилі для вмісту модального вікна */
}

.modal-header {
    padding: 20px;
    color: #f89233;
    font-size: 40px;
    /* Задаємо стилі для заголовку модального вікна */
}

.modal-text {
    font-size: 22px;
    font-weight: 500;
    color: #fefefe;
    padding: 10px;
    /* Задаємо стилі для тексту модального вікна */
}

.thanks {
    font-style: italic;
    margin-top: 30px;
    color: #fefefe;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 60px;
    /* Задаємо стилі для роздягненого тексту "thanks" */
}

.entrance-modal-Btn {
    background-color: rgba(223, 190, 163, 0.062);
    ;
    color: #fefefe;
    border: none;
    font-size: 28px;
    font-weight: 500;
    padding: 20px 50px;
    border-radius: 10px;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 100px;
    ;
    /* Задаємо стилі для кнопки "entrance-modal-Btn" */
}

.entrance-modal-Btn:hover {
    background-color: rgba(223, 190, 163, 0);
    cursor: pointer;
    color: #e17612;
    cursor: var(--cat-paw);
    /* Задаємо стилі для кнопки "entrance-modal-Btn" при наведенні */
}

.modal-content::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    /* Задаємо стилі для псевдоелемента ::after модального вікна */
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .modal-wrapper {
        transform: translate(-50%, -50%);
    }

    /* Змінюємо позиціонування для елемента з класом "modal-wrapper" на мобільних пристроях */

    .modal-content {
        width: 95%;
    }

    /* Змінюємо ширину модального вікна на мобільних пристроях */

    .modal-header {
        font-size: 32px;
    }

    /* Змінюємо розмір заголовка модального вікна на мобільних пристроях */

    .modal-text {
        font-size: 18px;
    }

    /* Змінюємо розмір тексту модального вікна на мобільних пристроях */

    .entrance-modal-Btn {
        padding: 10px 30px;
    }

    /* Змінюємо відступи кнопки "entrance-modal-Btn" на мобільних пристроях */
}