.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(20, 19, 19, 0.847);
}

.modal-wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    flex-direction: column;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    /* updated */
}

.modal-header {
    padding: 20px;
    color: #e17612;
    font-size: 40px;
}

.modal-text {
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
}

.thanks {
    font-style: italic;
    margin-top: 30px;
    text-align: right;
}

.entrance-modal-Btn {
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    padding: 20px 50px;
    border-radius: 10px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 100px;
}

.entrance-modal-Btn:hover {
    background-color: rgb(223, 190, 163);
    cursor: pointer;
}

.modal-content::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .modal-wrapper {
        transform: translate(-50%, -50%);
    }

    .modal-content {
        width: 95%;
    }

    .modal-header {
        font-size: 32px;
    }

    .modal-text {
        font-size: 18px;
    }

    .entrance-modal-Btn {
        padding: 10px 30px;
    }
}