.header {
    display: flex;
    justify-content: space-between;
    border-bottom:
        1px solid #000000;
}

.header-nav {
    display: flex;
}

.heading {
    padding: 22 22;
    color: #170833;
}

.fa-external-link {
    font-size: 22px;
    padding: 30;
    color: #003cff;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}



.fa-external-link:hover {
    color: #1c0d37;
}