body {
    position: relative;
}
.cat-info-overlay {
    pointer-events: none;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.758);
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.cat-info-block {
    pointer-events: all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    overflow: hidden;
    background-color: white;
    padding: 40px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(37, 26, 12);
    border-radius: 10px;
    margin: auto;
    scroll-behavior: smooth;
}

.breed-select {
    z-index: 2000;
}

.cat-info-modal-Btn {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #ff04009f;
    text-align: center;
    font-weight: 500;
    border: none;
    padding: 15px;
    background-color: #fd7a0013;
    border-radius: 8px;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cat-info-modal-Btn:hover {
    color: #0c3ceaba;
    cursor: pointer;
    background-color: #fd7a0008;
    
}

#cat-modal img {
    max-width: 100%;
    border-radius: 35px;
    padding: 20px;
    margin: auto;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .cat-info-block {
        padding: 10px;
    }

    #cat-modal img {
        padding: 10px;
    }
}